{% extends 'base.html' %}

{% block title %}
    Archive
{% endblock %}


{% block body %}
    <main class="mt-3 mx-auto">
        <script src="{{ url_for('static',filename='js/sortTable.js') }}"></script>
        <div class="mb-3 justify-content-end">
            <table class="table" id="info_table">
                <thead>
                <tr class="align-items-xxl-center">
                    <th scope="col" onclick="sortTable(0)" )>Period</th>
                    <th scope="col" onclick="sortTable(0)" style="text-align: right" )>Radera</th>
                </tr>
                </thead>
                <tbody>
                {% for i in range((result["index"])) %}
                    <tr>
                        <th scope="col">
                            <div><a href="/period?period={{ result["period"][i] }}">{{ result["period"][i] }}</a></div>
                        </th>
                        <th scope="col"  style="text-align: right">
                            <div><a href="/remove?period={{ result["period"][i] }}" style="color: red">Ta bort</a></div>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

{% endblock %}